.combo-box-base {
	 -fx-background-color: -fx-shadow-highlight-color, white, white, lightpink;
}

.combo-box-base:focused{
	 -fx-border-color: white;
}

.combo-box .arrow-button .arrow {
	-fx-background-color: white;
}

.button {
	-fx-background-color: -fx-shadow-highlight-color, white, white, black;
	-fx-text-fill: white;
	-fx-focus-color: -fx-shadow-highlight-color, white, white, black;
}

.button:focused {
	-fx-border-color: white;
	-fx-border-width: 2;
}

.text-field {
	-fx-border-color: white;
	-fx-border-width: 2;
}

#statBox {
	-fx-background-color: black;
}

.chart {
	-fx-background-color: transparent;
}

.chart .label {
	-fx-text-fill: white;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
    -fx-stroke:lightpink;
}

.axis {
    -fx-tick-label-fill: white;
}

.axis .label {
	-fx-text-fill: white;
}





